<section id="main" class="col span-2-of-3">
    <nav>
        <ul>
            <li>Search</li>
            <li>New Post</li>
        </ul>
    </nav>
</section>

<section id="aside" class="col span-1-of-3">
    <section id="recent-members">
        <h3>Recent Members</h3>
    </section>
    <section id="topic">
        <h3>Topic</h3>
    </section>
    <section id="pop-posts">
        <h3>Popular Posts</h3>
    </section>
</section>