<h3>My Comments</h3>
<ul class="posts">
    <% @comments.each do |comment| %>
    <li>
        <div>
            <div class="row" style="max-width: 510px;">
                <b>
                    <%= link_to comment.get_parent_post.title, comment.get_parent_post %>
                </b>
            </div>
            <div class="row">
                "<em><%=comment.body%></em>"
            </div>
        </div>
    </li>
    <% end %>
    <%= will_paginate @posts %>
</ul>