@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

body {
  padding-top: 60px;
  background-color: lightgray;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

header {
  height: 64px;
  padding-top: 8px;
}

.navbar-nav {
  li {
    a {
      padding-top: 6px;
    }
    .dropdown-toggle {
      padding-top: 15px;
    }
    .dropdown-toggle:focus {
      background-color: #2b3547 !important;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }
  }
}

#logo {
  float: left;
  margin-right: 30px;
  font-size: 2.3em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.middle > * {
  vertical-align: middle;
}

/* footer */

footer {
  height: 56px;
  margin-top: 45px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333333;
  color: whitesmoke;
  text-align: center;
  vertical-align: middle;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  p {
    margin: 15px;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/*sidebar*/
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
.gravatar {
  float: left;
  margin-right: 10px;
}
.gravatar_edit {
  margin-top: 15px;
}

/*forms*/

input,
textarea,
select,
.uneditable-input {
  border: 1pxsolid#bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0030px0;
  }
}
.field_with_errors {
  @extend.has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}

/*frontpage*/

#aside {
  border-left: grey 1px;
  position: -webkit-sticky;
}

#aside section > h3 {
  margin-top: 0;
}

#recent-members {
  margin: 0;
  padding: 10px;
}

.recent-member {
  height: 50px;
}

#main {
  padding-right: 0;
  padding-left: 0;
  background-color: whitesmoke;
  section {
    padding-right: 15px;
    padding-left: 15px;
  }
}

#post-controls {
  vertical-align: middle;
}

#post-controls div {
  margin: 1px;
  display: inline-block;
  vertical-align: middle;
  input {
    margin: 0;
  }
}

.sticky-nav {
  // position: -webkit-sticky;
  // position: sticky;
  // top: 60px;
  background-color: white;
  padding: 10px 10px 0 10px;
}

/* Front page posts */
.posts {
  list-style: none;
  margin: 0;
  padding-left: 0;
  li {
    background-color: white;
    padding: 10px 0;
    margin-bottom: 10px;
    border: 1px solid #61afc579;
    border-radius: 5px;
    vertical-align: middle;
  }
  li > div {
    display: inline-block;
    vertical-align: middle;
  }
  div > div {
    padding-left: 20px;
  }
}

#pop-posts {
  .posts {
    li {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid #eeeeee;
    }
  }
}

/* Comments */
#comments-section {
  div {
    padding-top: 15px;
    width: 50%;
  }
  li {
    text-decoration: none;
    b {
      padding-right: 10px;
    }
  }
  ul {
    list-style: none;
  }
}

/* Backgrounds */
.animated-background {
  background: linear-gradient(270deg, #187c99, #3b608c, #324b69, #202123);
  background-size: 400% 400%;

  -webkit-animation: backgroundGradient 16s ease infinite;
  -moz-animation: backgroundGradient 16s ease infinite;
  animation: backgroundGradient 16s ease infinite;
  border: none;
}

#Joke {
  background: linear-gradient(270deg, #550000, #413e35);
  background-size: 400% 400%;

  -webkit-animation: backgroundGradient 16s ease infinite;
  -moz-animation: backgroundGradient 16s ease infinite;
  animation: backgroundGradient 16s ease infinite;
}
#A\.I\. {
  background: linear-gradient(270deg, #252247, #316799);
  background-size: 400% 400%;

  -webkit-animation: backgroundGradient 16s ease infinite;
  -moz-animation: backgroundGradient 16s ease infinite;
  animation: backgroundGradient 16s ease infinite;
}
#V\.R\. {
  background: linear-gradient(270deg, #013c15, #008810);
  background-size: 400% 400%;

  -webkit-animation: backgroundGradient 16s ease infinite;
  -moz-animation: backgroundGradient 16s ease infinite;
  animation: backgroundGradient 16s ease infinite;
}
#RMIT {
  background: linear-gradient(270deg, #a80000, #580000);
  background-size: 400% 400%;

  -webkit-animation: backgroundGradient 16s ease infinite;
  -moz-animation: backgroundGradient 16s ease infinite;
  animation: backgroundGradient 16s ease infinite;
}
#Game {
  background: linear-gradient(270deg, #52004f, #8c007b);
  background-size: 400% 400%;

  -webkit-animation: backgroundGradient 16s ease infinite;
  -moz-animation: backgroundGradient 16s ease infinite;
  animation: backgroundGradient 16s ease infinite;
}
#Rails {
  background: linear-gradient(270deg, #700031, #b90058);
  background-size: 400% 400%;

  -webkit-animation: backgroundGradient 16s ease infinite;
  -moz-animation: backgroundGradient 16s ease infinite;
  animation: backgroundGradient 16s ease infinite;
}
#Go {
  background: linear-gradient(270deg, #015e5f, #029ca5);
  background-size: 400% 400%;

  -webkit-animation: backgroundGradient 16s ease infinite;
  -moz-animation: backgroundGradient 16s ease infinite;
  animation: backgroundGradient 16s ease infinite;
}
#Web {
  background: linear-gradient(270deg, #000000, #363636);
  background-size: 400% 400%;

  -webkit-animation: backgroundGradient 16s ease infinite;
  -moz-animation: backgroundGradient 16s ease infinite;
  animation: backgroundGradient 16s ease infinite;
}
#M\.L {
  background: linear-gradient(270deg, #0080b0, #a0a3a3);
  background-size: 400% 400%;

  -webkit-animation: backgroundGradient 16s ease infinite;
  -moz-animation: backgroundGradient 16s ease infinite;
  animation: backgroundGradient 16s ease infinite;
}
#React {
  background: linear-gradient(270deg, #0593e3, #00d7e3);
  background-size: 400% 400%;

  -webkit-animation: backgroundGradient 16s ease infinite;
  -moz-animation: backgroundGradient 16s ease infinite;
  animation: backgroundGradient 16s ease infinite;
}
#Vue {
  background: linear-gradient(270deg, #438148, #838383);
  background-size: 400% 400%;

  -webkit-animation: backgroundGradient 16s ease infinite;
  -moz-animation: backgroundGradient 16s ease infinite;
  animation: backgroundGradient 16s ease infinite;
}
#Node {
  background: linear-gradient(270deg, #1a785b, #488700);
  background-size: 400% 400%;

  -webkit-animation: backgroundGradient 16s ease infinite;
  -moz-animation: backgroundGradient 16s ease infinite;
  animation: backgroundGradient 16s ease infinite;
}
#iOS {
  background: linear-gradient(270deg, #03b1ce, #c6c854);
  background-size: 400% 400%;

  -webkit-animation: backgroundGradient 16s ease infinite;
  -moz-animation: backgroundGradient 16s ease infinite;
  animation: backgroundGradient 16s ease infinite;
}

#AWS {
  background: linear-gradient(270deg, #dfbd00, #424663);
  background-size: 400% 400%;

  -webkit-animation: backgroundGradient 16s ease infinite;
  -moz-animation: backgroundGradient 16s ease infinite;
  animation: backgroundGradient 16s ease infinite;
}

@-webkit-keyframes backgroundGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes backgroundGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes backgroundGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
