@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

body {
  padding-top: 60px;
  background-color: lightgray;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

header {
  height: 64px;
  padding-top: 8px;
}

.navbar-nav {
  li {
    a {
      padding-top: 6px;
    }
    .dropdown-toggle {
      padding-top: 15px;
    }
    .dropdown-toggle:focus {
      background-color: #2b3547 !important;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }
  }
}

.nav {
  a {
    color: black;
  }
  .dropdown {
    display: inline;
    a {
      font-size: 120%;
      vertical-align: middle;
    }
  }
  .dropdown-menu a {
    color: black !important;
  }
}
.vertical-centered {
  line-height: 48px;
}

.navlink a {
  color: white !important;
}

#logo {
  float: left;
  margin-right: 30px;
  font-size: 2.3em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.middle > * {
  vertical-align: middle;
}

/* footer */

footer {
  height: 56px;
  margin-top: 45px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333333;
  color: whitesmoke;
  text-align: center;
  vertical-align: middle;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  p {
    margin: 15px;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/*sidebar*/
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
.gravatar {
  float: left;
  margin-right: 10px;
}
.gravatar_edit {
  margin-top: 15px;
}

/*forms*/

input,
textarea,
select,
.uneditable-input {
  border: 1pxsolid#bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0030px0;
  }
}
.field_with_errors {
  @extend.has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}

.edit_user .btn-primary,
.edit_verification .btn-primary {
  width: 120px;
}

#verification-wrapper {
  max-height: 200px;
  max-width: 200px;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 10px 0;
  }
}

#verification_image {
  display: none;
}

.file-upload {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
}

.tab-content .form-control {
  width: 50%;
}

/*frontpage*/

#aside {
  border-left: grey 1px;
  position: -webkit-sticky;
}

#aside section > h3 {
  margin-top: 0;
}

#recent-members {
  margin: 0;
  padding: 10px;
}

.recent-member {
  height: 50px;
}

#main {
  padding-right: 0;
  padding-left: 0;
  background-color: whitesmoke;
  section {
    padding-right: 15px;
    padding-left: 15px;
  }
}

#post-controls {
  vertical-align: middle;
}

#post-controls div {
  margin: 1px;
  display: inline-block;
  vertical-align: middle;
  input {
    margin: 0;
  }
}

.sticky-nav {
  // position: -webkit-sticky;
  // position: sticky;
  // top: 60px;
  background-color: white;
  padding: 10px 10px 0 10px;
}

/* Front page posts */
.posts {
  list-style: none;
  margin: 0;
  padding-left: 0;
  li {
    background-color: white;
    padding: 10px 0;
    margin-bottom: 10px;
    border: 1px solid #61afc579;
    border-radius: 5px;
    vertical-align: middle;
  }
  li > div {
    display: inline-block;
    vertical-align: middle;
  }
  div > div {
    padding-left: 20px;
  }
}

#pop-posts {
  .posts {
    li {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid #eeeeee;
    }
  }
}

/* Comments */
#comments-section {
  div {
    padding-top: 15px;
    width: 50%;
  }
  li {
    text-decoration: none;
    b {
      padding-right: 10px;
    }
  }
  ul {
    list-style: none;
  }
}

/* Profile page */
.posts-col {
  width: 50%;
}

.tab-pane {
  margin-top: 20px;
  margin-left: 20px;
}

h4,
h5 {
  text-align: center;
}
h5 {
  margin-bottom: 20px;
}

/* Vertical nav */
.vertical-nav {
  background-color: #1b304b;
  min-height: 100%;
  margin: -20px 15px -20px -10px;
  padding: 20px 0 20px 0;
  font-size: 130%;
  color: rgb(207, 207, 207);
  i {
    margin-right: 10px;
  }
  a {
    color: rgb(207, 207, 207);
  }
  a:hover {
    color: white;
    text-decoration: none;
  }
  li {
    text-decoration: none;
    margin: 15px 15px;
    b {
      padding-right: 10px;
    }
  }
  ul {
    padding-left: 20px;
    list-style: none;
  }
}

/* Posts */

.new_micropost {
  padding: 30px;
}

#micropost_topic {
  height: 34px;
  width: 70px;
  border-radius: 5px;
  font-weight: 800;
  padding-left: 5px;
}

.btn-primary {
  width: 100px;
}

.trix-content {
  min-height: 500px;
  height: auto;
}

.trix-button-group--file-tools {
  display: none !important;
}

.post {
  padding: 50px;
  .btn-primary {
    width: 120px;
    margin-top: 20px;
  }
  h4 {
    text-align: left;
  }
  .trix-content {
    height: auto;
    min-height: 100px;
    border: solid rgba(128, 128, 128, 0.452) 1px;
    border-radius: 5px;
    padding: 20px;
  }
}

/* Backgrounds */
.animated-background {
  background-color: #3b608c;
  background-size: 400% 400%;

  -webkit-animation: backgroundGradient 16s ease infinite;
  -moz-animation: backgroundGradient 16s ease infinite;
  animation: backgroundGradient 16s ease infinite;
  border: none;
}

#Joke {
  background-color: #550000;
}
#A\.I\. {
  background-color: #4585c0;
}
#V\.R\. {
  background-color: #008810;
}
#RMIT {
  background-color: #a80000;
}
#Game {
  background-color: #8c007b;
}
#Rails {
  background-color: #b90058;
}
#Go {
  background-color: #029ca5;
}
#Web {
  background-color: #363636;
}
#M\.L {
  background-color: #203942;
}
#React {
  background-color: #0593e3;
}
#Vue {
  background-color: #438148;
}
#Node {
  background-color: #1a785b;
}
#iOS {
  background-color: #aaac5a;
}

#AWS {
  background-color: #dfbd00;
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  z-index: 0;
}
